header{
    background-color: rgb(113, 104, 122); height: 5rem;
    border-style: dotted;
    border-color: rgb(100, 71, 100);
    border-width: 5px;
    
}

body{
    background-color: rgb(41, 140, 75);
    font-size: 20px;
}

h1{
   
    text-align: center;
    color: aliceblue;
    
  font-family: 'Tangerine', serif;
  font-size: 48px;
  text-shadow: 4px 4px 4px #050505;
    
    
}

div{
    padding-left: 1rem;
}



footer{
    background-color: rgb(111, 89, 132); height: 7rem;
    text-align: center;
    border-style: dotted;
    border-color: rgb(71, 32, 69);
    border-width: 5px;

}

nav{
    text-align: center;
    
    
    
    
}

img{
    padding-left: 40%;
}